<mat-toolbar color="primary" class="px-4">
  <span class="navbar-brand">GP.</span>
  <span class="flex-spacer"></span>

  <button mat-button routerLink="/">Acasă</button>
  <button mat-button routerLink="/despre-noi">Despre noi</button>
  <button mat-button routerLink="/servicii">Servicii</button>
  <button mat-button routerLink="/angajare">Angajare</button>
  <button mat-button routerLink="/contact">Contact</button>

  <span class="flex-spacer"></span>
</mat-toolbar>

<router-outlet></router-outlet>

<footer class="footer">
  <p>© 2025 GP. Toate drepturile rezervate.</p>
</footer>
