:root {
  --e-global-color-primary:  #005670;
  --e-global-color-secondary: #6DC7AE;
  --e-global-color-text:      #004251;
  --e-global-color-white:    #FFFFFF;
  --e-global-color-black:    #000000;
  --e-global-color-accent:   #32bdbb;
}

html, body {
  font-family: 'Roboto';
  font-weight: 700;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
}

html {
  scroll-behavior: smooth;
}